<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask with html</title>
</head>
<body>
    <h1>VIjay</h1>
    <p><b>{{data}}</b>loves <b>maris</b>.Sometimes that love breaks her friend.
        Vijay dont like he but she like friend that's the main reason to fight each other.
        Recent times she change many hapit one is posessive me old days she hide her posseive but present she shows that is most likesd hapit</p>
</body>
</html>